* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primaryColor: #67e6ec;
}

.questionContainer {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: solid black;
}

footer.incorrect {
    color: red;
}

footer.correct {
    color: rgb(25, 214, 25);
    font-weight: bolder;
}

.btnGrid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.highScores {
    outline: none;
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer
}

.btn {
    background-color: rgba(103, 230, 236, .5);
    border: solid rgba(103, 230, 236, .5);
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}
.btn:hover {
    background-color: rgba(103, 230, 236, 1);
}

.hide {
    display: none;
}